:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-green: #A0C878;
  --color-light-green: #DDEB9D;
  --color-cream: #fcf9f1;
  --color-off-white: #FFFDF6;
  --color-white: #ffffff;
  --color-green-dark: #6B8E23;
  --color-green-medium: #8FBC8F;
  --color-green-bright: #7FFF00;
  --color-green-muted: #B2D8B2;
  --color-green-forest: #228B22;

  --color-text:#E8E8E8;
  --color-light: #fff;
  --color-gray: #f0f0f0;
  --color-dark: #777;
  --color-dark0: #666;
  --color-dark1: #555;
  --color-dark2: #444;
  --color-dark3: #333;
  --color-dark4: #222;
}
html{
  scroll-behavior: smooth;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}